/* Estilo para las tarjetas de las countrys */
.country-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 200px;
}

.country-card img {
  border-radius: 8px;
  width: 100%;
}

.country-card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.country-card p {
  font-size: 1rem;
  color: #666;
}
