.country-card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(
    50% - 20px
  ); /* Calcula el ancho para mostrar dos elementos por fila */
  margin: 10px;
  text-align: center;
  display: inline-block; /* Cambio necesario para distribuir los elementos en filas */
}
/* imágenes de los países */
.country-card img {
  border-radius: 7px;
  width: 210px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 8px;
}
/* titulo de países */
.country-card h1 {
  margin: 0;
  font-size: 1, 6rem;
  color: #6d71e5;
  font-style: oblique;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.country-card h2 {
  margin: 0;
  font-size: 1.2rem;
}

.country-card p {
  color: rgb(82, 80, 80);
  font-size: medium;
  font-weight: 200;
}
.city-list {
  margin-top: 10px;
}

.city-list h3 {
  font-size: 1.2rem;
}

.city-list ul {
  list-style: none;
  padding: 0;
}

.city-list a {
  text-decoration: none;
  color: #6d71e5ff;
  transition: color 0.3s ease;
}

.city-list a:hover {
  color: #6d71e5;
}

.city-list h4 {
  font-size: medium;
  font-family: sans-serif;
  color: #e7cb57;
}
/* Posible color para el desplegable de city */
