.country-card {
  background-color:rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 20px); /* Calcula el ancho para mostrar dos elementos por fila */
  margin: 10px;
  text-align: center;
  display: inline-block; /* Cambio necesario para distribuir los elementos en filas */
}

.country-card img {
  width: 100%;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.country-card h2 {
  margin: 0;
  font-size: 1.2rem;
}

.country-card p {
  color: #8a7e72ff;
}

.city-list {
  margin-top: 10px;
}

.city-list h3 {
  font-size: 1.2rem;
}

.city-list ul {
  list-style: none;
  padding: 0;
}

.city-list a {
  text-decoration: none;
  color:#6d71e5ff;
  transition: color 0.3s ease;
}

.city-list a:hover {
  color: #101834;
}
