
header {
  background-color: #6d71e5ff; 
  color: #ffffffff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h1{
  font-size: 24px;
  color:bisque
  }
}

.Botonesuser {
  display: flex;
}

.Botonesuser a {
  background-color: #e7cb57ff; /* Arylide yellow */
  color: #ffffffff; /* White */
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.Nav {
  display: flex;
  align-items: center;
}

.Nav a {
  margin-right: 20px;
  color: #ffffffff; /* White */
  text-decoration: none;
}

.Nav a:hover {
  color: #e7cb57ff; /* Arylide yellow */
}
