.navPrincipal {
  display: flex;
  min-width: 30vh;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navPrincipal button {
  background-color: #e7cb57ff; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navPrincipal button:hover {
  background-color: rgb(163, 142, 61);; 
}

.navPrincipal button.active {
  background-color: #f7fffe; 
  color: #333; 
}
