.material-symbols-outlined {
  font-size: 24px; /* Tamaño mediano para los iconos */
  margin: 0 10px; /* Espacio entre los iconos */
  color: black; /* Color inicial de los iconos */
}

.material-symbols-outlined:hover {
  color: #C2F0FD;; 
}

.material-symbols-outlined.active {
  color: #6d71e5ff
}