#containerCountry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

#containerCountry h1 {
  font-size: 3em;
  color:  #6d71e5ff
  margin-bottom: 20px;
}

#containerCountry p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
}

#containerCountry h4 {
  font-size: 1.5em;
  color:  #6d71e5ff
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

 .TarjetasCiudades {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 10px;
    padding: 50px;
    align-items: center;
    justify-items: center;

  }
  
  .TarjetasCiudades button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
 .TarjetasCiudades button img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
.TarjetasCiudadesbutton img:hover {
    transform: scale(2.05);
  }
