.botonLike{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--arylide-yellow); /* Color de fondo */
    color: #fff; /* Color del texto */
    border-radius: 30px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    text-decoration: none; 
 }


 #containerHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  #containerHome button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  #containerHome button img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  #containerHome button img:hover {
    transform: scale(1.05);
  }