main {
  width: 100vw;
  min-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* .main {
  min-height: 70vh;
  text-align: center;
  
}

main{
  min-height: 35vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  --light-blue: #b0d8d6ff;
  --arylide-yellow: #e7cb57ff;
  --medium-slate-blue: #6d71e5ff;
  --white: #ffffffff;
  --battleship-gray: #8a7e72ff;
}

button {
  background-color: #6d71e5ff; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border-radius: 30px;
}

button:hover {
  background-color: rgb(76, 80, 179)
}

button.active {
  background-color: #f7fffe; 
  color: #333; 
} */
